<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Video</ion-title>
    </ion-toolbar>
  </ion-header>
  <iframe width="560" height="315" src="https://youtu.be/9YTj45qBzrw" 
  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe>
</ion-content>