<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tabla de multiplicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabla de multiplicar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tabla de multiplicar</ion-card-title>
      <ion-card-subtitle>Ingrese un número:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="inputNumber" type="number" placeholder="Ingrese el número"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="multiplicar()">Multiplicar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="resultados.length > 0">
    <ion-item *ngFor="let item of resultados">
      <ion-label>{{ lastNumber }} × {{ item.num }} = {{ item.resultado }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>